.bookingForm {
  max-width: 580px;
  margin: 15px auto;
  padding: 20px;
  border: 3px solid #defcfa;
  border-radius: 8px;
  background-color: #d4eaff;
  display: flex;
  gap: 25px;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

input {
  padding: 2px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
  width: 120px;
}

.occupancyWrapper {
  position: relative;
}

.toggleButton {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: #3067fd;
}

.occupancySection {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background-color: #d4eaff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.searchButton, .toggleButton {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 120px;
}

.searchButton:hover, .toggleButton:hover {
  background-color: #5590ff;
  transform: scale(1.05);}