.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 20px 0;
  margin-top: 50px;
}

.logo {
  width: 200px;
  height: 100px;
}

.footerContenido {
  display: flex;
  font-family: var(--font-title);
  font-size: 13px;
  justify-content: center; /* Distribuye el espacio uniformemente */
  align-items: center; /* Alinea los elementos al inicio verticalmente */
  gap: 200px; /* Espaciado entre los elementos */
  padding: 0px;
}

.footerSection {
  text-align: left; /* Asegura alineación de texto a la izquierda */
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection li {
  margin: 5px 0;
}

.redes {
  display: contents;
  gap: 10px; /* Espaciado entre los íconos */
}

.footerContenido a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footerContenido a:hover {
  color: #34d0ff;
}

.footerBottom {
  text-align: center;
  color: gray;
  font-size: 0.9rem;
}
