.imagenCentro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenCentro img {
  max-width: 45%;
  height: auto;
  border-radius: 20px;
  margin-top: 40px;
}


.imagenHorizontal img {
  max-width: 80%;
  margin: 20px auto;
}
