.barra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1661a6;
  padding: 1.5em 4em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 80%;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2.5em;
  /* margin-left: auto; */
}

.btnReserva {
  font-size: 0.8rem;
}
