.TituloTexto {
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  text-align: left;
}

.text-title {
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 30px;
}

.text{
  font-family: var(--font-text);
  font-size: 1.4rem;
  color: #333;
  margin-top: 40px;
}

.text-title-center {
  text-align: center;
}
